.item-list {
    border: 1px solid;
    display: flex;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
    justify-content: space-between;
}

.delete {
    font-size: small;
    background: red;
}