.App {
  text-align: center;
}

#container {
  margin-top: 20px;
  width: 50%;
  margin-left: 25%;
  text-align: start;
  height: 300px;
  overflow-y: scroll;
}

header {
  background: blue;
  padding: 10px;
}